<!-- FOOTER-SECTION-START -->
  <footer class="py-3" data-bs-theme="light">
    <div class="container">
      <p class="text-center text-white mb-0">
        &copy; <%= new Date().getFullYear() %> All Rights Reserved &ndash; <span class="fw-bold">VacantBlogs</span>
      </p>
    </div>
  </footer>
  <!-- FOOTER-SECTION-END -->