<!-- FOOTER-SECTION-START -->
<footer class="py-3 bg-dark bg-gradient">
  <div class="container">
    <p class="text-center text-white mb-0">
      &copy; 2024 All Rights Reserved &ndash; <span class="fw-bold">VacantBlogs</span>
    </p>
  </div>
</footer>
<!-- FOOTER-SECTION-END -->