<!-- HEADER-SECTION-START -->
<header class="bg-black bg-gradient sticky-top">
  <div class="container">
    <nav class="d-flex align-items-center justify-content-between py-3">
      <!-- MOBILE-MENU -->
      <div class="d-lg-none d-block">
        <button type="button" class="btn btn-secondary bg-gradient rounded-circle" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
          <i class="ri-menu-2-line"></i>
        </button>
        
        <div class="offcanvas offcanvas-start bg-dark bg-gradient" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenu">
          <div class="offcanvas-header">
            <a href="/" class="navbar-brand text-white h1 mb-0 fw-medium text-uppercase">
              VacantBlogs
            </a>
            
            <button type="button" class="btn bg-transparent" data-bs-dismiss="offcanvas" aria-label="Close">
              <i class="bi bi-x-lg text-white h3 mb-0 fw-bold"></i>
            </button>
          </div>

          <div class="offcanvas-body">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="/" class="nav-link active text-light" aria-current="page">
                  Home
                </a>
              </li>
      
              <li class="nav-item">
                <a href="/blog" class="nav-link text-white">
                  Blog
                </a>
              </li>
      
              <li class="nav-item">
                <a href="/contact" class="nav-link text-white">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- BRAND-LOGO -->
      <a href="/" class="navbar-brand text-white fw-medium text-uppercase">
        VacantBlogs
      </a>

      <!-- DESKTOP-LIST -->
      <div class="d-none d-lg-block">
        <ul class="nav">
          <li class="nav-item">
            <a href="/" class="nav-link active text-light" aria-current="page">
              Home
            </a>
          </li>
  
          <li class="nav-item">
            <a href="/blog" class="nav-link text-white">
              Blog
            </a>
          </li>
  
          <li class="nav-item">
            <a href="/contact" class="nav-link text-white">
              Contact
            </a>
          </li>
        </ul>
      </div>

      <!-- AUTHENTICATION-LIST -->
      <div class="d-none d-md-block">
        <ul class="nav gap-4">
          <li class="nav-item">
            <a href="/login" class="btn btn-primary bg-gradient px-4">
              Login
            </a>
          </li>
  
          <li class="nav-item">
            <a href="/register" class="btn btn-outline-secondary bg-gradient text-light px-4">
              Register
            </a>
          </li>
        </ul>
      </div>

      <!-- MOBILE-AUTHENTICATION-LIST -->
      <div class="d-md-none d-block">
        <div class="dropdown">
          <button class="btn btn-outline-secondary rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="ri-user-3-line text-light"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark bg-gradient py-0">
            <li>
              <a href="/login" class="dropdown-item py-2 px-4">
                <i class="bi bi-person"></i> Login
              </a>
            </li>

            <li>
              <a href="/register" class="dropdown-item py-2 px-4">
                <i class="bi bi-journal-richtext"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- HEADER-SECTION-END -->